@model Book

<div class="col-sm-4 col-lg-6 col-md-4">

    <div class="caption">
        
        <h2><a asp-controller="Book" asp-action="Details" asp-route-id="@Model.BookId"><i class="fa-solid fa-book "></i> @Model.Title</a></h2>
        <h3>Books left in stock: @Model.Amount</h3>
    </div>

</div>