@model Book

<div class="col-sm-4 col-lg-6 col-md-4">

    <div class="caption">
        <h3><a asp-controller="Book" asp-action="Details" asp-route-id="@Model.BookId">@Model.Title</a></h3>
        <p>@Model.Description</p>
    </div>

    <div class="addToCart">
        <p class="button">
            <a class="btn btn-primary" asp-controller="Cart" asp-action="AddToCart" asp-route-bookId="@Model.BookId">Add To Cart</a>
        </p>
    </div>
</div>