@model CartViewModel

@if (Model.Cart.CartItems.Count > 0)
{
    <li>
        <a asp-controller="Cart" asp-action="Index">
            <i class="fa-solid fa-cart-shopping"></i>
            <span id="cart-status">
                @Model.Cart.GetAmount()
            </span>
        </a>
    </li>
}