@model Book

<div class="img-thumbnail">
    <div class="figure-caption">
        <h3>@Model.Title</h3>
        <p>@Model.Description</p>
        <p>Books left in stock:  @Model.Amount</p>
    </div>
</div>