@model BookListViewModel

<h1>@Model.CurrentInStock</h1>

    @foreach(var book in Model.Books)
    {
        <div class="border">
        <partial name=_bookCardAll model="book" />
        </div>
    }